{% extends "base.html" %}
{% load staticfiles %}

{% block "vsebina" %}
			<div id="slider">
				<div class="viewer">
					<div class="reel">
						<div class="slide"> <img src="{% static "images/pics01.jpg" %}" width="590" height="300" alt="" /> </div>
						<div class="slide"> <img src="{% static "images/pics02.jpg" %}" width="590" height="300" alt="" /> </div>
						<div class="slide"> <img src="{% static "images/pics03.jpg" %}"width="590" height="300" alt="" /> </div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$('#slider').slidertron({
					viewerSelector: '.viewer',
					reelSelector: '.viewer .reel',
					slidesSelector: '.viewer .reel .slide',
					advanceDelay: 3000,
					speed: 'slow'
				});
			</script>

			{% for stran in strani %}
			<div class="post">
				<h2 class="title"><a href="#">{{ stran.title}}</a></h2>
				<p class="meta">Posted by <a href="#"></a> on October 17, 2015
					&nbsp;&bull;&nbsp; <a href="#" class="comments">Comments (64)</a> &nbsp;&bull;&nbsp; <a href="#" class="permalink">Full article</a></p>
				<div class="entry">
					<p>{{stran.text}}</p>
				</div>
			</div>

			{% endfor %}

{% endblock %}